* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(assets/background-dektop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "TASA Orbiter", sans-serif;
}


main img {
    width: 350px;
    margin-top: 100px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #000000f7;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 24px;
    letter-spacing: 2px;
    text-align: center;
}

.sorteio-input {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}

.sorteio-input input {
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgb(239 52 232 / 8%);
    padding: 13px 10px 10px 16px;
    width: 218px;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    border-style: none;
    box-shadow: 0 4px 6px 0 rgba(255, 255, 255, 0.20);
}

input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input {
    -moz-appearance: textfield;
}

input {
    appearance: none;
}

input::placeholder {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    border-style: none;
    letter-spacing: 2px;
}

input:focus {
    border: 2px solid rgba(255, 255, 255, 0.25);
    outline: none;
}

.sortear {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    background-color: #7c7c7c2e;
    padding: 20px 10px 20px 10px;
    border-radius: 30px;
}

button {
    width: 189px;
    height: 40px;
    padding: 0 76px;
    border-radius: 10px;
    background: #006fffc4;
    box-shadow: 0 4px 6px 0 rgba(174, 195, 70, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-style: none;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

p {
    color: white;
}

@media (max-width: 575px) {
    main img {
        width: 250px;
    }

    h2 {
        font-size: 18px;
    }

    .sorteio-input input {
        border-radius: 14px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: rgb(166 54 187 / 0%);
        padding: 6px 10px 6px 16px;
        width: 160px;
        color: #000000;
        font-size: 15px;
        font-weight: 500;
        border-style: none;
        box-shadow: 0 4px 6px 0 rgba(255, 255, 255, 0.20);
    }

    button {
        width: 180px;
        height: 34px;
    }
}